.movie {
  -o-object-fit: cover;
     object-fit: cover;
}

.movie video {
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainCopy {
  position: absolute;
  bottom: 166px;
  left: 7.916%;
}

.mainCopy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 2px;
  background: white;
}

.mainCopy h1 {
  font-size: 60px;
  color: white;
  font-weight: 100;
  line-height: 1.3;
}

.mouse {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.mouse .shape {
  width: 28px;
  height: 40px;
  border: 2px solid white;
  border-radius: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.mouse .shape::before {
  content: '';
  position: absolute;
  top: 29%;
  left: 50%;
  margin: -2px 0 0 -2px;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 1.5s linear infinite;
          animation: ani-mouse 1.5s linear infinite;
}

.mouse span {
  color: white;
  font-size: 15px;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 0;
    top: 29%;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 0;
    top: 29%;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

.aboutInfo {
  background: #f4f4f4;
  padding-top: 80px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.aboutInfo .aboutTxt h3 {
  font-weight: 200;
  font-size: 60px;
  letter-spacing: -2px;
  color: #333;
}

.aboutInfo .aboutTxt h3 span {
  color: #275cab;
}

.aboutInfo .aboutTxt p {
  font-size: 40px;
  line-height: 1.2;
  font-size: 24px;
  color: #999;
  margin-top: 35px;
  line-height: 1.4;
  font-weight: 100;
}

.aboutInfo .aboutCp {
  display: inline-block;
  min-height: 370px;
  background: white;
  padding: 40px 0 0 40px;
  width: 100%;
  max-width: 1250px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutInfo .aboutCp .infoTxt {
  text-align: left;
  width: calc(100% - 444px);
}

.aboutInfo .aboutCp .infoBlue {
  width: 444px;
  height: 340px;
  padding: 98px 0 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.aboutInfo .aboutCp .infoBlue::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -20px;
  background: #275caa;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.aboutInfo .aboutCp .infoBlue li {
  position: relative;
  z-index: 1;
}

.aboutInfo .aboutCp .testBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: url("https://pbs.twimg.com/media/Epho0CbU8AIJvSS.jpg");
  background-size: 100% 100%;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-clip-path: circle(19.5% at 69% 28%);
          clip-path: circle(19.5% at 69% 28%);
  -webkit-animation: naver 6s alternate infinite;
          animation: naver 6s alternate infinite;
}

@-webkit-keyframes naver {
  20% {
    -webkit-clip-path: polygon(0% 15%, 0 0, 23% 0, 71% 38%, 71% 0, 100% 0, 100% 85%, 100% 100%, 78% 100%, 24% 57%, 24% 100%, 0 100%);
            clip-path: polygon(0% 15%, 0 0, 23% 0, 71% 38%, 71% 0, 100% 0, 100% 85%, 100% 100%, 78% 100%, 24% 57%, 24% 100%, 0 100%);
  }
  40% {
    -webkit-clip-path: polygon(40% 0, 39% 0, 42% 0, 85% 0%, 100% 0, 67% 0, 100% 100%, 77% 100%, 54% 63%, 50% 63%, 24% 100%, 0 100%);
            clip-path: polygon(40% 0, 39% 0, 42% 0, 85% 0%, 100% 0, 67% 0, 100% 100%, 77% 100%, 54% 63%, 50% 63%, 24% 100%, 0 100%);
  }
  60% {
    -webkit-clip-path: polygon(0 0, 22% 0, 47% 57%, 54% 56%, 77% 0, 100% 0, 63% 100%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 38% 100%);
            clip-path: polygon(0 0, 22% 0, 47% 57%, 54% 56%, 77% 0, 100% 0, 63% 100%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 38% 100%);
  }
  80% {
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 17%, 23% 17%, 23% 41%, 100% 41%, 100% 63%, 25% 64%, 25% 83%, 100% 83%);
            clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 17%, 23% 17%, 23% 41%, 100% 41%, 100% 63%, 25% 64%, 25% 83%, 100% 83%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%, 33% 64%, 67% 63%, 68% 100%, 100% 100%, 100% 63%, 68% 31%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 33% 100%, 33% 64%, 67% 63%, 68% 100%, 100% 100%, 100% 63%, 68% 31%, 100% 0);
  }
}

@keyframes naver {
  20% {
    -webkit-clip-path: polygon(0% 15%, 0 0, 23% 0, 71% 38%, 71% 0, 100% 0, 100% 85%, 100% 100%, 78% 100%, 24% 57%, 24% 100%, 0 100%);
            clip-path: polygon(0% 15%, 0 0, 23% 0, 71% 38%, 71% 0, 100% 0, 100% 85%, 100% 100%, 78% 100%, 24% 57%, 24% 100%, 0 100%);
  }
  40% {
    -webkit-clip-path: polygon(40% 0, 39% 0, 42% 0, 85% 0%, 100% 0, 67% 0, 100% 100%, 77% 100%, 54% 63%, 50% 63%, 24% 100%, 0 100%);
            clip-path: polygon(40% 0, 39% 0, 42% 0, 85% 0%, 100% 0, 67% 0, 100% 100%, 77% 100%, 54% 63%, 50% 63%, 24% 100%, 0 100%);
  }
  60% {
    -webkit-clip-path: polygon(0 0, 22% 0, 47% 57%, 54% 56%, 77% 0, 100% 0, 63% 100%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 38% 100%);
            clip-path: polygon(0 0, 22% 0, 47% 57%, 54% 56%, 77% 0, 100% 0, 63% 100%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 38% 100%);
  }
  80% {
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 17%, 23% 17%, 23% 41%, 100% 41%, 100% 63%, 25% 64%, 25% 83%, 100% 83%);
            clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 17%, 23% 17%, 23% 41%, 100% 41%, 100% 63%, 25% 64%, 25% 83%, 100% 83%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%, 33% 64%, 67% 63%, 68% 100%, 100% 100%, 100% 63%, 68% 31%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 33% 100%, 33% 64%, 67% 63%, 68% 100%, 100% 100%, 100% 63%, 68% 31%, 100% 0);
  }
}

@-webkit-keyframes test1 {
  20% {
    -webkit-clip-path: circle(19.5% at 69% 28%);
            clip-path: circle(19.5% at 69% 28%);
  }
  40% {
    -webkit-clip-path: circle(19.5% at 30% 73%);
            clip-path: circle(19.5% at 30% 73%);
  }
  60% {
    -webkit-clip-path: circle(19.5% at 80% 75%);
            clip-path: circle(19.5% at 80% 75%);
  }
  80% {
    -webkit-clip-path: circle(19.5% at 50% 50%);
            clip-path: circle(19.5% at 50% 50%);
  }
  100% {
    -webkit-clip-path: circle(71% at 50% 50%);
            clip-path: circle(71% at 50% 50%);
  }
}

@keyframes test1 {
  20% {
    -webkit-clip-path: circle(19.5% at 69% 28%);
            clip-path: circle(19.5% at 69% 28%);
  }
  40% {
    -webkit-clip-path: circle(19.5% at 30% 73%);
            clip-path: circle(19.5% at 30% 73%);
  }
  60% {
    -webkit-clip-path: circle(19.5% at 80% 75%);
            clip-path: circle(19.5% at 80% 75%);
  }
  80% {
    -webkit-clip-path: circle(19.5% at 50% 50%);
            clip-path: circle(19.5% at 50% 50%);
  }
  100% {
    -webkit-clip-path: circle(71% at 50% 50%);
            clip-path: circle(71% at 50% 50%);
  }
}

.aHistory {
  background: #6888ff;
}

.historyWrap {
  width: 1200px;
  padding: 0 100px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 100px auto 0;
}

.historyWrap .historyItem {
  font-size: 0;
}

.historyWrap .historyItem .historyImg {
  width: 100%;
  height: 300px;
  background: url("../../images/about/his21_bg.png") no-repeat;
}

.historyWrap .historyItem .historyImg img {
  width: 100%;
  height: 100%;
}

.historyWrap .historyItem .historyList {
  width: 100%;
  background: white;
  min-height: 270px;
  padding: 26px 36px;
}

.historyWrap .historyItem .historyList h3 {
  font-size: 42px;
  color: #333;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 13px;
}

.historyWrap .historyItem .historyList li {
  font-size: 18px;
  color: #333;
  font-weight: 300;
  margin-bottom: 5px;
}

.historyWrap .historyItem .historyList li .num {
  display: inline-block;
  font-weight: 500;
  width: 35px;
  padding-top: 3px;
}

.historyWrap .progress {
  display: block;
  margin: 90px auto 0;
  width: 600px;
  height: 70px;
}

.historyWrap .progress .car_wrap {
  position: relative;
  width: 100%;
  height: 27px;
  font-size: 0;
  text-align: left;
}

.historyWrap .progress .car_wrap .car {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -100px;
  width: 100px;
  height: 36px;
  background: url("../../images/about/img_history_car.png") 0 0 no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
}

.historyWrap .progress .car_wrap .car .tire {
  display: block;
  position: absolute;
  top: 18px;
  background: url("../../images/about/tire.png") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  -webkit-transition: 1s;
  transition: 1s;
}

.historyWrap .progress .car_wrap .car .tire.active {
  -webkit-animation-name: tire;
          animation-name: tire;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes tire {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes tire {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.historyWrap .progress .car_wrap .car .tire.tire01 {
  left: 14px;
}

.historyWrap .progress .car_wrap .car .tire.tire02 {
  right: 8px;
}

.historyWrap .progress .bar {
  margin-top: 10px;
  width: 100%;
  height: 6px;
  background-color: #fff;
  font-size: 0;
  text-align: left;
  border-radius: 20px;
}

.historyWrap .progress .bar .barInn {
  display: inline-block;
  width: 0;
  height: 6px;
  background-color: #1c58b0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.aMap {
  background: #f4f4f4;
}

.mapBox {
  padding: 150px;
}

.mapBox .tabMenu {
  width: 100%;
  height: 60px;
  margin-bottom: 90px;
  position: relative;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}

.mapBox .tabMenu .tabDepth01 {
  display: inline-block;
  width: 33.3%;
  position: relative;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
}

.mapBox .tabMenu .tabDepth01:hover::before {
  content: '';
  width: 50%;
  height: 4px;
  background: #275cac;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.mapBox .tabMenu .tabDepth01:hover::after {
  content: '';
  display: inline-block;
  border-color: #275cac transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px;
  vertical-align: top;
  position: absolute;
  bottom: -26px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.mapBox .tabMenu .tabDepth01:hover .tabDepth02 {
  display: block;
}

.mapBox .tabMenu .tabDepth01 > a {
  font-size: 30px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.mapBox .tabMenu .tabDepth01 .tabDepth02 {
  width: 100%;
  font-size: 0;
  display: none;
}

.mapBox .tabMenu .tabDepth01 .tabDepth02 li {
  display: inline-block;
  width: 25%;
}

.mapBox .tabMenu .tabDepth01 .tabDepth02 li a {
  display: inline-block;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.mapBox .mapWrap {
  width: 100%;
  height: 510px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: #275cac;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}

.mapBox .mapWrap .mapTxt {
  width: 42%;
  padding: 50px 45px 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.mapBox .mapWrap .map {
  width: 58%;
}
