@font-face {
  font-family: 'notosans';
  font-weight: 100;
  src: url("../fonts/NotoSansKR-Light-Hestia.eot");
  src: url("../fonts/NotoSansKR-Light-Hestia.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light-Hestia.woff") format("woff"), url("../fonts/NotoSansKR-Light-Hestia.otf") format("opentype");
}

@font-face {
  font-family: 'notosans';
  font-weight: 200;
  src: url("../fonts/NotoSansKR-DemiLight-Hestia.eot");
  src: url("../fonts/NotoSansKR-DemiLight-Hestia.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-DemiLight-Hestia.woff") format("woff"), url("../fonts/NotoSansKR-DemiLight-Hestia.otf") format("opentype");
}

@font-face {
  font-family: 'notosans';
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Regular-Hestia.eot");
  src: url("../fonts/NotoSansKR-Regular-Hestia.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular-Hestia.woff") format("woff"), url("../fonts/NotoSansKR-Regular-Hestia.otf") format("opentype");
}

@font-face {
  font-family: 'notosans';
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Medium-Hestia.eot");
  src: url("../fonts/NotoSansKR-Medium-Hestia.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium-Hestia.woff") format("woff"), url("../fonts/NotoSansKR-Medium-Hestia.otf") format("opentype");
}

@font-face {
  font-family: 'notosans';
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Bold-Hestia.eot");
  src: url("../fonts/NotoSansKR-Bold-Hestia.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold-Hestia.woff") format("woff"), url("../fonts/NotoSansKR-Bold-Hestia.otf") format("opentype");
}

@font-face {
  font-family: 'notosans';
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Black-Hestia.eot");
  src: url("../fonts/NotoSansKR-Black-Hestia.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Black-Hestia.woff") format("woff"), url("../fonts/NotoSansKR-Black-Hestia.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'notosans';
}

ul, ol {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
}

.header .headerInner {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .logo {
  display: inline-block;
  width: 148px;
  height: 29px;
  background: url("../../images/common/img_set.png") no-repeat 0 0;
  position: relative;
  top: 50%;
  margin-top: -50%;
}

.header ul {
  display: inline-block;
  font-size: 0;
  position: relative;
  top: 50%;
  margin-top: -50%;
  vertical-align: super;
}

.header ul li {
  display: inline-block;
  font-size: 20px;
  margin-right: 108px;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li a {
  text-decoration: none;
  color: white;
}

.header .menu {
  display: inline-block;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: relative;
  float: right;
  margin-top: 20px;
  font-size: 0;
}

.header .menu span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: white;
  line-height: inherit;
  margin-top: 8px;
}

.header .menu span:first-child {
  margin-top: 0;
}
