.TodoForm {padding:25px; background:#dcdcdc; display:flex; align-items:center; justify-content:center;}
.TodoForm input {width:150px; height:30px; padding:15px; box-sizing: border-box; border:none;}
.TodoForm button {width:50px; height:30px; border:none; background:#333; color:#fff;}