<style>
   .wrap {
      width: 100%;
      overflow: hidden;
      letter-spacing: -0.3px;
   }

   .wrap>div {
      width: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      overflow: hidden;
   }

   a,
   a:visited {
      text-decoration: none;
   }

   .box {
      display: inline-block;
      width: 31%;
      min-height: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 10px;
      margin-right: 3px;
      margin-bottom: 8px !important;
      vertical-align: top;
   }

   .box a {
      display: block;
      width: 100%;
      height: 100%;
      color: black;
      font-size: 11px !important;
   }

   .section1 .box {
      background: #248F7B;
   }

   .section1 .box a {
      color: white;
   }

   /* .section2 .box {background:#b7dde8;} */
   /* .section3 .box {background:#dbeef4;} */
   .box:nth-child(3n) {
      margin-right: 0;
   }

   .box:nth-child(3n + 1) {
      margin-left: 8px;
   }

   .box.lineTwo {
      line-height: 1;
   }

   .box.lineTwo a {
      margin-top: 12px;
   }

   .box.lineThr {
      height: 45px !important;
   }

   .box.lineThr a {
      margin-top: 8px;
   }

   .box:hover {
      background: #31859d;
   }

   .box:hover a,
   .box:hover a div {
      color: white;
   }

   /* .titles {font-weight:bold; margin-bottom:5px !important; font-size:11px !important;} */
</style>
<div class="wrap"
   style="font-family: 맑은 고딕; font-size: 10px; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
   <div style="font-family: 맑은 고딕; font-size: 10px; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
      <div style="font-family: 맑은 고딕; font-size: 10px; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
         <div class="section1"
            style="font-family: 맑은 고딕; font-size: 10px; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
            <div class="box"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 45px; margin-bottom: 0px;"><a
                  href="http://www.autohands.co.kr/ah/about.do" target="_blank"><i
                     style="text-decoration:underline;">AutoHands</i></a></div>
            <div class="box"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 45px; margin-bottom: 0px;"><a
                  href="http://www.autoinside.co.kr" target="_blank">AutoInside</a></div>
            <div class="box"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 45px; margin-top: 0px; margin-bottom: 0px; vertical-align:top;">
               <a href="https://autohands.lglifecare.com">복지몰</a></div>
            <div class="box lineTwo"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 13.3333px; margin-bottom: 0px;">
               <a href="https://autohands-blog.tistory.com" target="_blank">
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     Autohands</div>
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     공식블로그</div>
               </a></div>
            <div class="box lineTwo"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 13.3333px; margin-bottom: 0px;">
               <a href="https://blog.naver.com/auto_inside_" target="_blank">
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     AutoInside</div>
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     공식블로그</div>
               </a></div>
            <div class="box lineTwo"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 13.3333px; margin-top: 0px; margin-bottom: 0px;">
               <a href="http://autohands.hunet.co.kr" target="_blank">
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     사이버</div>
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     연수원</div>
               </a></div>
            <div class="box lineTwo"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 13.3333px; margin-top: 0px; margin-bottom: 0px;">
               <a href="https://autohands.erpsolution.co.kr/" target="_blank">
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     성과관리</div>
                  <div
                     style="line-height: 1 !important; font-size: 10px !important; font-family: 맑은 고딕; margin-top: 0px; margin-bottom: 0px;">
                     시스템</div>
               </a></div>
            <div class="box"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 45px; margin-top: 0px; margin-bottom: 0px;"><a
                  href="http://www.bizplay.co.kr" target="_blank">법인카드</a></div>
            <div class="box"
               style="font-family: 맑은 고딕; font-size: 10px; line-height: 45px; margin-top: 0px; margin-bottom: 0px; vertical-align:top;">
               <a href="http://192.168.1.151/Account/LogOn?ReturnUrl=%2f">구.그룹웨어</a></div>
         </div>
      </div>
   </div>
</div>